<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Modulo 07 - Consolidacion</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link active" aria-current="page" href="{% url "index" %}">Home</a>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Laboratorios
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "laboratorios" %}">Listado de Laboratorios</a></li>
              <li><a class="dropdown-item" href="{% url "crea_lab" %}">Agregar Laboratorio</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Directores
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "directores" %}">Listado de Directores</a></li>
              <li><a class="dropdown-item" href="{% url "crea_dir" %}">Agregar Directores</a></li>
            </ul>
          </div>
          <div class="dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Productos
            </a>
          
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url "productos" %}">Listado de Productos</a></li>
              <li><a class="dropdown-item" href="{% url "crea_prod" %}">Agregar Productos</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>