{% extends "layouts/base.html" %}

{% block contenido %}
<header>
</header>
<main class="container">
    <section>
        <h1 class="text-center py-5">Seguro desea borrar el Producto {{laboratorio.nombre}}.</h1>
    </section>

    <section>

        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                <form method="post" id="form_delete">
                    {% csrf_token %}
                    {{form}}
                    <div>
                        <input type="submit" class="btn btn-danger" value="Eliminar"> 
                    </div>
                </form>
                </form>
            </div>
        </div>

    </section>

</main>
{% endblock contenido %}