{% extends "layouts/base.html" %}

{% block contenido %}
<header>
    
</header>
<main class="container">
    <section>
        {% if laboratorio.id %}
        <h1 class="text-center py-5">Actualiza Director General.</h1>
        {% else %}
        <h1 class="text-center py-5">Crea Director General</h1>
        {% endif %}
    </section>

    <section>

        <div class="row justify-content-center">
            <div class="col-12 col-md-5">
                <form method="post">
                    {% csrf_token %}
                    {{form}}
                    <div>
                        {% if laboratorio.id %}
                            <input type="submit" class="btn btn-primary" value="Actualiza Director">
                        {% else %}
                            <input type="submit" class="btn btn-primary" value="Crea Director">
                        {% endif %}
                    </div>
                </form>
            </div>
        </div>

    </section>

</main>
{% endblock contenido %}